In [29]:
!pip install TextBlob

Collecting TextBlob
  Downloading https://files.pythonhosted.org/packages/60/f0/1d9bfcc8ee6b83472ec571406bd0dd51c0e6330ff1a51b2d29861d389e85/textblob-0.15.3-py2.py3-none-any.whl (636kB)
     |████████████████████████████████| 645kB 10.2MB/s eta 0:00:01
Collecting nltk>=3.1
  Downloading https://files.pythonhosted.org/packages/f6/1d/d925cfb4f324ede997f6d47bea4d9babba51b49e87a767c170b77005889d/nltk-3.4.5.zip (1.5MB)
     |████████████████████████████████| 1.5MB 53.6MB/s eta 0:00:01
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from nltk>=3.1->TextBlob) (1.11.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.4.5-cp36-none-any.whl size=1450722 sha256=25435f014b8692627c0e0d2349c1efa557c6f38e198d0d69e9e3b92c232cc9d2
  Stored in directory: /root/.cache/pip/wheels/96/86/f6/68ab24c23f207c0077381a5e3904b2815136b879538a24b483
Successfully built nltk
Installing collected packages: nltk, TextBlob
Successfully installed TextBlob-0.15.3 nltk-3.4.5

In [32]:
import numpy as np
import pandas as pd
import re
import numpy as np
import pandas as pd
from pprint import pprint

# Gensim
import gensim
import gensim.corpora as corpora
from gensim.parsing.preprocessing import STOPWORDS
from gensim.utils import simple_preprocess
from gensim.models.coherencemodel import CoherenceModel
from gensim.models.ldamulticore import LdaMulticore

# Spacy for lemmatization
import spacy

# Plotting tools
import pyLDAvis
import pyLDAvis.gensim  # don't skip this
import matplotlib.pyplot as plt
%matplotlib inline

from textblob import TextBlob
import nltk
import nltk.data

from nltk import tokenize
from nltk.tokenize import sent_tokenize

#sent_detector = nltk.data.load('tokenizers/punkt/english.pickle')

In [6]:
df = pd.read_csv("comments.csv")

In [7]:
df.head()

,Unnamed: 0,time_ts,by,id,text
0,0,2014-05-29 16:08:14+00:00,Fuzzwah,7816917,The moment the header image rotated to one whi...
1,1,2014-03-17 07:37:46+00:00,Watabou,7413661,"Wow, pip bundled by default. Very interesting."
2,2,2014-04-22 12:57:58+00:00,copergi,7627332,&gt;OpenSSL has provided years of free softwar...
3,3,2014-04-28 05:27:18+00:00,cshesse,7658325,I use GOPATH only inside of a wrapper script t...
4,4,2014-01-09 20:23:00+00:00,ddrager,7032916,Just ordered a mini-helicopter on Overstock us...

In [14]:
comment = df['text']

In [ ]:
def tokenize(x):
    text = x.lower()
    test = x.re.sub(r'[^a-zA-Z ^0-9]', '', str(text))
    return test.split()

In [33]:
#nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [34]:
sent_detector = nltk.data.load('tokenizers/punkt/english.pickle')

In [49]:
comment.shape

(3082146, 2)

In [48]:
comment.isna().sum()

index    0
text     0
dtype: int64

In [46]:
comment = comment.dropna()

In [54]:
comment.head()

                                                text
0  The moment the header image rotated to one whi...
1     Wow, pip bundled by default. Very interesting.
2  &gt;OpenSSL has provided years of free softwar...
3  I use GOPATH only inside of a wrapper script t...
4  Just ordered a mini-helicopter on Overstock us...

In [ ]:
# compute sentiment scores (polarity) and labels
sentiment_scores_tb = [round(TextBlob(article).sentiment.polarity, 3) for article in comment['text']]
sentiment_category_tb = ['positive' if score > 0 
                             else 'negative' if score < 0 
                                 else 'neutral' 
                                     for score in sentiment_scores_tb]